/* Base badge styling */
.badge {
    display: inline-block;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(var(--button-border-color), 0.2);
}

.badge::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    width: calc(100% - 6px);
    height: 50%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    border-radius: var(--rounded-lg); /* Match the button's rounded corners */
    filter: blur(1px); /* Soften the highlight */
    opacity: 0.7;
    z-index: 1; /* Sits above the background but below the text */
}

.badge-success {
    background: linear-gradient(
        to bottom,
        var(--success-500),
        var(--success-400)
    );
    color: #ffffff !important;
}
.badge-danger {
    background: linear-gradient(
        to bottom,
        var(--danger-500),
        var(--danger-400)
    );
    color: #ffffff !important;
}
.badge-info {
    background: linear-gradient(to bottom, var(--info-500), var(--info-400));
    color: #ffffff !important;
}
.badge-warning {
    background: linear-gradient(
        to bottom,
        var(--warning-500),
        var(--warning-400)
    );
    color: #ffffff !important;
}
.badge-witch {
    background: var(--upgrade-500);
    color: #ffffff !important;
}
.badge-secondary {
    background: var(--secondary-500);
    color: #ffffff !important;
}
