.card {
    background: var(--section-bg);
    border: 2px solid var(--section-border-color);
    border-radius: var(--rounded-lg);
}
.card-info {
    background: var(--info-500) !important;
    border-top-color: var(--white) !important;
}

.card.card-effect {
    position: relative;
    isolation: isolate;
}

.card-effect:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transition: all 1s;
    border-top-left-radius: var(--rounded-lg);
    border-top-right-radius: var(--rounded-lg);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );

    z-index: -1;
}
.card-body {
    padding: 12px;
}
.card-body-avatar {
    padding: none;
    padding-bottom: 12px;
}
.card.padding-sm {
    padding: 10px;
}
.card-inner {
    background: var(--input-bg);
    border-color: var(--input-border-color);
}

.card-top-heavy {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card-bottom-heavy {
    background: var(--input-bg);
    border-top: 2px dashed var(--section-border-color);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-item-owned {
    border: 2px dashed var(--success-500) !important;
}
.card-item-owned-event {
    border: 2px dashed var(--info-500) !important;
}
.card-item {
    border-radius: var(--rounded-lg);
    border: 2px dashed var(--section-border-color);
    background: radial-gradient(
        circle,
        rgba(79, 86, 96, 0.3019607843) 0%,
        transparent 100%
    );
}
.card-five-star {
    background: rgb(var(--warning-700-rgb), 20%);
    border-color: var(--warning-700);
    border-bottom: 4px solid var(--warning-700);
}
.card-four-star {
    background: rgb(var(--upgrade-400-rgb), 20%);
    border-color: var(--upgrade-400);
    border-bottom: 4px solid var(--upgrade-400);
}
.card-three-star {
    background: rgb(var(--success-500-rgb), 20%);
    border-color: var(--success-500);
    border-bottom: 4px solid var(--success-500);
}
.card-two-and-one-star {
    background: var(--input-bg);
    border-color: var(--input-border-color);
    border-bottom-width: 4px;
}

.card-status {
    border-bottom-width: 4px;
}
.card-status.online {
    border-bottom-color: var(--info-500);
}
