.navbar {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    background: var(--section-bg);
    border-bottom: 2px dashed var(--section-border-color);
    padding: 10px 15px;
    box-shadow: 0 1px 2px rgb(var(--section-shadow), 0.1);
}


.navbar .banner img {
    width: 100%;
    height: 400px;
}

.navbar .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-item {
    display: inline-block;
    height: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
}


.navbar .nav-link {
    border-radius: var(--rounded-lg);
    text-decoration: none;
    display: inline-block;
    color: var(--gray-700);
    font-weight: 600;
    padding: 0 15px;
    position: relative;
    /* Needed for absolute positioning of ::before */
}

.navbar .nav-link.active {
    color: var(--gray-100);
    background: linear-gradient(to bottom, var(--info-400), var(--info-500));
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(var(--button-border-color), 0.2);
}

.navbar .nav-link.active::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    width: calc(100% - 6px);
    height: 50%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    border-radius: var(--rounded-lg); /* Match the button's rounded corners */
    filter: blur(1px); /* Soften the highlight */
    opacity: 0.7;
}

.navbar .nav-link:hover {
    background: rgb(var(--black-rgb), 0.06);
}

.navbar .nav-link.active:hover {
    background: linear-gradient(to bottom, var(--info-500), var(--info-600));
}

.navbar.nav-link.active::before:hover {
    opacity: 0;
}

.navbar .nav-search {
    position: relative;
}

.navbar .nav-search .form {
    height: 38px !important;
    border-radius: var(--rounded-lg);
    padding-right: 40px;
}

.navbar .nav-search button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    height: 98%;
    width: 36px;
    transition: all 0.2s;
    border-radius: var(--rounded-circle);
    margin-right: 6px;
    right: 0;
    color: var(--gray-700);
}

.navbar .nav-search button:hover {
    background: rgb(var(--black-rgb), 0.06);
}

.navbar .nav-search button:active {
    transform: scale(0.94);
    background: rgb(var(--black-rgb), 0.1);
}
