.progress-bar {
    display: block;
    width: 100%;
    position: relative;
    background: var(--input-bg);
    border: 1px solid var(--input-border-color);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
    border-radius: var(--rounded-circle);
    height: 20px;
}
.progress-bar .progress {
    position: absolute;
    background: var(--info-600);
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
    border-radius: var(--rounded-circle);
}
.progress-bar .progress::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    width: calc(100% - 6px);
    height: 50%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    border-radius: var(--rounded-lg); /* Match the button's rounded corners */
    filter: blur(1px); /* Soften the highlight */
    opacity: 0.7;
}
.progress-bar .progress.progress-special {
    background: repeating-linear-gradient(
        -45deg,
        var(--gray-100),
        var(--gray-100) 10px,
        var(--info-600) 10px,
        var(--info-600) 20px
    ) !important;
}
