.tabs {
    display: flex;
    appearance: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs.flex-dir-column .tab-link {
    text-align: left !important;
    padding: 0.3em 0.75em;
}
.tabs .tab-item,
.tabs .tab-link {
    display: block;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabs .tab-link {
    color: var(--body-color);
    text-align: center;
    padding: 0.3em 0.75em;
    border-radius: var(--rounded-lg);
    border: 2px dashed transparent;
    font-weight: 600;

    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Overlay for the tab-link */
.tabs .active::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    width: calc(100% - 6px);
    height: 50%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    border-radius: var(--rounded-lg); /* Match the button's rounded corners */
    filter: blur(1px); /* Soften the highlight */
    opacity: 0.7;

    z-index: 1; /* Sits above the background but below the text */
}

.tabs .tab-link:hover {
    border: 2px dashed rgb(0, 0, 0, 0.04);
    background: rgb(0, 0, 0, 0.04);
}
.tabs .tab-link:active {
    background: rgb(0, 0, 0, 0.08);
}
.tabs .active,
.tabs .active:hover {
    border-color: rgb(var(--button-border-color), 0.2);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6); /* Adds a subtle "embossed" look to the text */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    background: linear-gradient(
        to bottom,
        var(--info-400),
        var(--info-400),
        var(--info-600)
    );
    color: #ffffff !important;
}
